In [2]:
import json
from typing import List
import pandas as pd

reader = open("4coy.json")
data1 = json.loads(reader.read())["data"]
reader.close()

reader = open("2.json")
data2 = json.loads(reader.read())["data"]
reader.close()

grades1 : List[float] = []
grades2 : List[float] = []

for each in data1:
    grades1.append(each["total_score"])

for each in data2:
    grades2.append(each["total_score"])

df1 = pd.DataFrame({"grade_module": grades1})
df1.describe()

       grade_module
count     34.000000
mean      43.367647
std       11.215897
min       27.500000
25%       36.062500
50%       41.125000
75%       46.625000
max       73.500000

In [3]:
df2 = pd.DataFrame({"grade_module": grades2})
df2.describe()

       grade_module
count     35.000000
mean      53.841429
std       18.720767
min       22.250000
25%       39.500000
50%       51.250000
75%       69.650000
max       97.750000